html, body {
  min-height: 100%;
  font-family: Arial;
}
html {
  background:  url(bg.jpg) no-repeat bottom right fixed;
  background-size: cover;
color: white;
  text-align: center;
}
.bottom-fade{	
  position: fixed;	
  bottom:0;	
  left:0;	
  width:100%;	
  min-height:120vh;	
  z-index: -1;	
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);	
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);	
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);	
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
}
.hide {
  display: none !important;
}
h1 {
 font-weight: bold;
    text-align: center;
    font-size: 60px;
    color: white;
    padding: 3px;
    margin: 0 2%;
    margin-bottom: 10px;
}

.logo {
  width: 50%;
    margin-top: 10%;
    max-width: 220px;
}
#contact-button {
color: white;
    font-size: 14px;
    background: rgba(0,0,0,.5);
    padding: 5px 25px;
    border-radius: 15px;
  transitions: all .3s linear;
}
#contact-button:hover, #contact-button:focus {
  background:black;
}
.wrapper {
  max-width: 1300px;
}

.footer a {
  opacity:.3;
  color:white;
}
.footer a:hover, .footer a:focus {
  opacity: 1;
  transition: all .3s linear;
  }
.social-link {
  font-size: 18px;
  vertical-align: middle;
  margin-left: 5px;
}
.footer {
  margin-top: 30px;
  font-size: 12px;
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 30px;
  }
}
