html, body {
  min-height: 100%;
  font-family: Arial;
}
html {
  background: url(bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom ;
color: white;
  text-align: center;
}
.hide {
  display: none !important;
}
.bottom-fade{
  position: fixed;
  bottom:0;
  left:0;
  width:100%;
  min-height:120vh;
  z-index: -1;
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );

}
h1 {
  color:black;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  color: white;
  padding: 3px;
  margin-bottom:20px;
  background: rgba(0,0,0, .7);
  max-width: 350px;
  margin-top: 260px;
}

.button {
  position: fixed;
  top: 64px;
  right:0;
  line-height:30px;
  padding: 5px 10px;
  padding-right:100px;
  width: auto;
  min-width: 150px;
  background: rgba(0,0,0,.7);
  display: block;
  margin-bottom:10px;
  color: white;
  font-weight: bolder;
  text-decoration: none;
  font-size: 17px;
}

.button:hover, .button:active, .button:focus {
  transition: .2s all linear;
  color: red;
  background: white;
}
.logo {
  width: 150px;
  position: absolute;
  top:20px;
  left:2%;
}
.wrapper {
  max-width: 1300px;
}
.services {
  margin-top: 10%;
  margin-bottom: 50px;
}
.services p {
  transform: skewX(-10deg);
  border-radius: 2px;
  background: rgba(0,0,0, .7);
  padding: 5%;
  margin-bottom: 20px;
  width: 73%;
  font-size: 16px;
  color:white;
}
.services p * {
  display: inline-block;
  transform: skew(10deg);
}
.services h2 {
  padding: 20px;
  display: inline-block;
  font-size: 22px;
  color:white;
}
.footer a {
  opacity:.3;
  color:white;
}
.social-link {
  font-size: 18px;
  vertical-align: middle;
  margin-left: 5px;
}
.footer {
  font-size: 12px;
  padding-bottom: 50px;
}

@media screen and (max-width: 800px) {
  .logo {
    margin: 0 auto;
    left:0;
    right:0;
    top:50px;
    width:220px;
  }
  .button {
    bottom:-10px;
    left:0;
    right:0;
    width:100%;
    z-index: 9999;
    height: 50px;
    font-size: 20px;
    top: auto;
    background: white;
    color:black;
    line-height: 50px;
  }
  .services {
    margin:0 auto;
  }
  .footer {
    padding-bottom: 100px;
  }
}
