html, body {
  min-height: 100%;
  font-family: Arial;
}
html {
  background: url(bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  color: white;
  text-align: center;
}
h1 {
  text-align: center;
  margin-top: 10px;
  font-size: 19px;
  border-radius: 5px;
}

.button {
  border-radius: 5px;
  padding: 8px 0;
  width: 238px;
  background: rgba(0,0,0, .1);
  display: inline-block;
  color: white;
  text-decoration: none;
  margin-top: 30px;
  font-size: 16px;
  border: 2px solid white;
}

.button:hover, .button:active, .button:focus {
  transition: .2s all linear;
  color: black;
  background: white;
}
.logo {
  width: 180px;
  opacity: .7;
  padding-top: 18%;
  padding-left:10px;
  padding-right:10px;
}
.services {
  margin-top: 10%;
  margin-bottom: 50px;
}
.services p {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 90%;
  font-size: 16px;
}
.services h2 {
  border-bottom: 1px solid white;
  display: inline-block;
  font-size: 19px;
}
.footer a {
  color: white;
  text-decoration: none;
}
.footer {
  font-size: 12px;
  margin-bottom: 20px;
}
